
@media screen and (max-width: 575px) {
    .calendar_bloc_g{
               display:none;
               visibility:hidden;
               width: 0px !important;
               height: 0px !important;
            }
    }
    
    @media screen and (max-width: 970px) {
            .title_company_user
            {
               display:none;
               visibility:hidden;
               width: 0px !important;
               height: 0px !important;
            }
    }
    /*
    @media screen and (max-width: 84.5em)
    {
        margin-right: 250px;
    }*/
    
    .title_company_user {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 16px;
        vertical-align: bottom;
        font-weight: bold;
        color: #03467c;
        width: 160px;
        float: right;
    }
    
    .title_company_user p {
        display: none;
    }
    
    
    .calendar_bloc_g {
            height: 96px;
            background-image: url(../../external/pic/calendar_bus_zz.png);
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: 10px 10px;
            padding-top: 23px;
            font-family: saharat;
            font-size: 14px;
            font-weight: bold;
            width: 135px;
            float: left;
            margin-top: -4px;
    }
    
    .calendar_year {
            text-align: center;
            color: #0c92cc;
            font-family: Montserrat !important;
            font-weight: bold;
            font-size: 12px;
            margin-left: -32px !important;
            margin-top: 2px;
    }
    
    .calendar_day {
            height: 60px;
            text-align: center;
            color: #453a3a;
            margin-left: -32px !important;
            font-family: title, courrier,arial,rgt;
            font-weight: bold;
            font-size: 12px;
            padding-top: 5px;
            line-height: 13px;
    }   
    
    span.dday {
            font-size: 12px;
            font-family: Montserrat !important;
            color: #ff7f27;
            padding: 0px 2px;
    }



.home_banner{
    background-image: url(../pic/home_banner_001.jpg) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position-x: center;
    background-position-y: 80px;
    width: 100%;
    min-height:1150px;
    float: right;
}

.hzm_body {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li.hzm_login {
    float: left !important;
    background-color: #0778c8 !important;
    border: 1px solid #067fd5;
}

.navbar-nav>li>a.alogin {
    background-color: #fff !important;
    color: #0383dd !important;
}       

.navbar-nav>li.hzm_login>a:hover {
    color: #ffffff !important;
    background-color: #0f82d2 !important;
}

.modal_login.modal-content {
    max-width: 450px;
    min-width: 250px;
    width: 50%;
    top: 45px;
    left: 40px;
    float: left;
}.btnbtsp {
    font-size: 18px;
}

button, input, select, textarea{
    font-size: 18px !important;
}

.grid tr.alterr td {
    background-color: rgba(255, 255, 255, 0.61) !important;
    padding: 10px 6px !important;
    color: #8d1616 !important;
}


.grid tr.err td {
    background-color: rgba(247, 197, 138, 0.1) !important;
    padding: 10px 6px !important;
    color: #8f3409 !important;
}

div.modal-dialog {
    margin-top: 0 !important;
}

.section nav.navbar {
    margin-bottom: 0px !important;
}
    
/***     login/home/header nice can be published for all   */

/**** for all Momken Framework      *******/


.navbar-nav>li.navbar-header>a {
    background-color: rgb(33 167 226) !important;
    color: #ffffff !important;
    /* font-weight: bold; */
    font-size: 120% !important;
    padding-left: 17px !important;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top, #91c73a, #177217);
    background-image: -o-linear-gradient(top, #91c73a 0, #177217 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#91c73a), to(#177217));
    background-image: linear-gradient(180deg, #91c73a 0, #177217);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff080808",endColorstr="#ff0f0f0f",GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}



/**** end for all Momken Framework      *******/


/***    steps nice for bus     ***/

.hzmSteps {
    min-height: 128px;
}
.editcard {
    width: 95%;
    min-height: 650px;
    min-width: 400px;
    margin: auto;
}

@media (max-width:700px)
{
.editcard {
    width: 100%;
}    
}
.panel-heading {
    color: #1169d3;
    background-color: transparent;
    min-height: 80px;
    padding: 5px 15px;
    border: none;
    width: 100%;
}

.filebox h5 {
    text-align: center;
}

.filebox h3 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    /* font-size: 18px !important; */
}

.panel-heading>h3>span {
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-family: saharat !important;
}

span.object_id {
    background-color: #c3c2f9;
    padding: 1px 8px;
    border-radius: 6px;
    border: 2px #6d6bd6 solid;
    color: #3c138c;
    font-size: 10px !important;
}

.panel-body {
    border-width: 0px !important;
}

.wizardv1 {
    width: 100%;
}


.hzm_data {
    font-size: 18px;
}    
    

/***    steps nice for bus     ***/




.mid {
    display: flex;
}

.duration {
    display: block;
}

.meta {
    color: #9b9b9b;
}


.bar_datetime {
    font-size: 14px;
    text-align: right;
    line-height: 1.3;
    padding-right: 13px;
    margin-right: 13px;
    position: relative;
    width: 70px;
    white-space: nowrap;
    flex-shrink: 0;
    align-self: stretch;
}

.bar_datetime:before {
    content: "";
    border: solid #21a024;
    border-width: 0 2px 0 0;
    height: 100%;
    position: absolute;
    right: -1px;
}

.over_datetime {
    font-size: 14px;
    text-align: right;
    line-height: 1.3;
    padding-right: 13px;
    margin-right: 13px;
    position: relative;
    width: 70px;
    white-space: nowrap;
    flex-shrink: 0;
    align-self: stretch;
}

.over_datetime:before {
    content: "";
    border: solid #21a024;
    border-width: 0 2px 0 0;
    height: 100%;
    position: absolute;
    right: -1px;
}

.layover .over_datetime:before {
    border-right-style: dotted;
    border-right-color: #d9d9d9;
    height: auto;
    top: -12px;
    bottom: -12px;
}
/*
.form-group {
    margin-bottom: 15px;
    min-height: 88px;
}
*/

.hzm_data.hzm_data_hijri_from.form-control.inputreadonly {
    height: auto !important;
}

.hzm_data.hzm_data_hijri_to.form-control.inputreadonly {
    height: auto !important;
}




.hzm_label.object_status_err.expand {
    background: #fff url(../../lib/images/expand16.png) no-repeat scroll 8px 20px !important;
}

.hzm_label.object_status_ok.expand {
    background: #fff url(../../lib/images/expand16.png) no-repeat scroll 8px 20px !important;
}

.hzm_label.object_status_err.expand.collapsed {
    background: #fff url(../../lib/images/collapse16.png) no-repeat scroll 8px 20px !important;
}

.hzm_label.object_status_ok.expand.collapsed {
    background: #fff url(../../lib/images/collapse16.png) no-repeat scroll 8px 20px !important;
}



li.hzm_logout>a {
    max-height: 34px !important;
}

ul.hzm_front_menu_bar.nav.navbar-nav {
    /* border-top: 1px #ffd58a solid; */
    padding-top: 1px !important;
    border-bottom: 1px #509727 solid;
    height: 40px;
}
    
.navbar-nav>li.navbar-header>a {
    background-color: rgb(23, 114, 23) !important;
    color: #ffe287 !important;
    /* font-weight: bold; */
    font-size: 120% !important;
    padding-left: 17px !important;
}

.navbar-nav>li {
    border-color: #efcb8b !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff !important;
    background-color: #087255 !important;
}

.footer .copyright {
    min-height: 149px;
    background: url(../../lib/images/blue0-carres.jpg) #fbeadab3 repeat top left;
}

.rowfooter.expanded {
    background-color: #dc0e0e;
}

div.column-block>h3 {
    color: #031425;
    font-size: 2em;
}

.buttonfooter.secondary {
    background-color: #c90e0e;
    color: #fefefe;
}

ul.footerlinks li {
    list-style-image: none;
    clear: none;
    margin: 0;
    text-align: right;
}

.footer_bg {
    background-image: url(../../external/pic/bg-footer.jpg);
    background-color: #e27505;
    background-size: contain;
}

.hzm_label.object_status_ok.greentitle.expand.collapsed {
    color: green !important;
    font-weight: normal;
}

.hzm_label.object_status_ok.greentitle.expand {
    color: #2a61b9 !important;
    font-weight: normal;
}

.in-group-customer_data.cssgroup_pct_100 {
    min-height: 180px !important;
}

/*
other style
.row.booking_filter {
        background: #ff9c04;
        border: #c97c04 2px solid;
        padding: 10px;
        box-shadow: 4px 4px #bd9d5f8c;
}

.row.booking_filter {
        background: #c1e2f759;
        border: #163460 2px solid;
        padding: 10px;
        box-shadow: 4px 4px #81888a8c;
}
*/

.row.booking_filter {
        background: #515354a6;
        /* border: #163460 2px solid; */
        padding: 10px;
        box-shadow: 4px 4px #81888a8c;
}

.home_banner.home_banner2 {
        background-image: url(../pic/home_banner_002.jpg);
}

.home_banner.home_banner3 {
    background-image: url(../pic/home_banner_003.jpg);
}

.home_banner.home_banner4 {
    background-image: url(../pic/home_banner_004.jpg);
}

.home_banner.home_banner5 {
    background-image: url(../pic/home_banner_005.jpg);
}
    
.attrib-dragDropDiv {
    min-height: 970px !important;
}

.hzm_data.hzm_data_dragDropDiv {
    min-height: 930px;
}


.section nav.navbar {
        margin: 0px !important;
        border-top: 1px #91c73a75 solid !important;
        max-height: 44px !important;
        border-bottom: 1px #f17d3075 solid !important;
        padding-top: 3px !important;
        background-color: #fff;
    }
    
    a.hzm3-button.hzm3-light-grey.hzm3-block {
        background-color: #fafafa !important;
    }
    
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #ffffff !important;
        background-color: #087255 !important;
    }
    
    
    .hzm-method.hzm-method-icon-container {
        width: 50px;
        height: 50px;
        padding: 3px;
        border-radius: 50%;
        border-width: 3px;
    }
    
    .hzm-icon-bus:before {
        content: "\f207";
        font-size: 24px;
    }
    
    .hzm-icon-branch:before {
            content: "\f1ad";
            font-size: 24px;
    }
    
    .hzm-icon-branchs:before {
            content: "\f1b3";
            font-size: 24px;
    } 
    
    .hzm-icon-brand:before {
            content: "\f11e";
            font-size: 24px;
    }
    
    .hzm-icon-brands:before {
            content: "\f11d";
            font-size: 24px;
    }
    
    .hzm-icon-road:before {
            content: "\f018";
            font-size: 24px;
    }
    
    .hzm-icon-roads:before {
            content: "\f018";
            font-size: 24px;
    }
    
    .hzm-icon-resto:before {
            content: "\f0f5";
            font-size: 24px;
    }
    
    .hzm-icon-hotel:before {
            content: "\f236";
            font-size: 24px;
    }
    
    .hzm-icon-hotels:before {
            content: "\f236";
            font-size: 24px;
    }
    
      
    .hzm-icon-station:before {
            content: "\f0ad";
            font-size: 24px;
    }
    
    .hzm-icon-stations:before {
            content: "\f0ad";
            font-size: 24px;
    }
    
    
    .hzm-icon-travel:before {
            content: "\f0f2";
            font-size: 24px;
    }
        
    .hzm-icon-status:before {
            content: "\f1da";
            font-size: 24px;
    }
    
    .hzm-icon-fm:before {
            font-size: 72px !important;
    }
    
    .hzm-icon-credit-card:before {
        content: "\f09d";
        font-size: 24px;
    }
    
    .hzm-icon-handshake:before {
        content: "\f00c";
        font-size: 24px;
    }
    
    div.hzm-menu>i.hzm-container-center.hzm-vertical-align-middle.hzm-icon-bus::before {
        font-size: 72px;
    }
    
    button.bf.hzm-specialmethod {
        width: 85%;
        border: 2px #2a61b985 solid;
        background-color: #fcfaf5;
        color: #164ea9;
        font-size: 18px;
    }
    
    .form_left {
        border: none !important;
    }
    
    .section nav.navbar {
        margin: 0px !important;
        border-top: 1px #599f2a solid !important;
        max-height: 44px !important;
        border-bottom: 1px #599f2a solid !important;
        padding-top: 3px !important;
        background-color: #fff;
    }

    .hzm-method.hzm-method-icon-container.only-border.border-primary {
        border-color: #ff7f27;
    }
    
    .hzm-method.hzm-method-icon-container i {
        font-size: 34px;
    }
    
    .hzm-method.hzm-method-icon-container.only-border.border-primary i {
        color: #ff7f27;
    }
    
    .hzm_module {
        background-color: #fafafa;
        margin: 10px;
        border: 2px #e5980b30 solid;
        padding: 25px !important;
    }
    
    .bf {
        background-color: #fafafa;
        margin: 10px;
        border: 2px #e5980b30 solid;
        padding: 25px !important;
    }
    
    
    div.hzm_module>a>div>.hzm-custom.hzm-custom-icon-container.only-border.border-primary {
        border-color: #d2ba8f70;
        border-width: 1px;
    }
    
    div.hzm_module>a>div>.hzm-custom.hzm-custom-icon-container.only-border.border-primary i {
        color: #b67500;
    }
    
    
    .hzm-custom.hzm-custom-icon-container.only-border.border-primary {
        border-color: #d2ba8f70;
        border-width: 1px;
    }
    
    .hzm-custom.hzm-custom-icon-container.only-border.border-primary i {
        color: #b67500;
    }

    div#fg-address, div#fg-city_id, div#fg-mobile {
        min-height: 140px;
    }